@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.limitar-secao{
    width:700px ;
    margin: auto;
}
body{
    background-image: url(assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
}
.cabecalho img{
    width: 70px;
    padding: 10px;
}
.cabecalho{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    border-bottom: dashed 1px palevioletred;

}
section{
    height: 600px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}
.img-lado img{
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 400px;
    width: 340px;
}
.dados{
    height: 300px;
    width: 370px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.dados p{
    margin: 5px;
    padding: 5px;
    font-size: 25px;   
}
button{
    margin-top: 40px;
    padding: 10px 20px;
    border: dashed 1px palevioletred;
    border-radius: 4px;  
}
.resultado p{
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}
.resultado{
   text-align: center;
    padding: 40px;
    height: 300px;
    width: 370px; 
}
.img-lado{
    height: 600px;
    width: 370px;
}
footer{
    height: 50px;
    align-items: center;
    padding: 20px;
    border-top: dashed 1px palevioletred;
}
footer p{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
input{
    padding: 5px;
    font-size: 18px;
    border: dashed 1px palevioletred;
    border-radius: 4px;
}
footer a{
    text-decoration: none;
    color: darksalmon;
    font-weight: bolder;
}

@media screen  and (min-width: 320px) {

    .limitar-secao{
        width: 370px;
        height: auto;
    }
    .dados{
        width: 370px;
        height: auto;
    }
    .img-lado{
        width: 370px;
        height: auto;
        padding: 10px;
        
    }
    .img-lado img{
        width: 350px;
    }
    section{
        display:block;
    }
    .resultado{
        width: 370px;
        height: auto;
    }
    
}


